*
!config
!config/*
!resources
!resources/*
!workflow
!workflow/**
!.gitattributes
!.editorconfig
!.test/resources/fq/*
!.test/resources/fa/*
!.test/config/**
!.test/*
!LICENSE
!README.md
!dag.svg
!.gitignore
!.github
